.cars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
h1{
    color: tomato;
}
@media screen and (max-width: 600px) {   
    .cars {
    display: grid;
    grid-template-columns: 1fr;
    }
}
.car-container{
    
        display: grid;
        grid-template-columns: 5fr 2fr;
    
}